src/main/resources/frame-haug.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT frame-haug (action-classes)>
<!ELEMENT action-classes (action-class|(annotation-scan,base-contents))>
<!ELEMENT action-class (path+)>
<!ATTLIST action-class class-name CDATA #IMPLIED>
<!ELEMENT path (#PCDATA)>
<!ELEMENT base-contents (path+)>
<!ELEMENT annotation-scan EMPTY>